body {
  background: cadetblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  text-align: center;
}

.bg0 {
  background: red;
}

.bg1 {
  background: greenyellow;
}

.bg2 {
  background: blueviolet;
}
