body {
  padding-top: 130px;
  background: #0f0f0f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  text-align: center;
}

/*
.bg0 {
  background: #91c9ea; 
  background: -webkit-linear-gradient(
    to right,
    #91c9ea,
    #3473e9,
    #1e1e99
  ); 
  background: linear-gradient(to right, #91c9ea, #3473e9, #1e1e99);
}

.bg1 {
  background: #a7edff;
  background: -webkit-linear-gradient(to right, #a7edff, #0460c9);
  background: linear-gradient(to right, #a7edff, #0460c9);
}

.bg2 {
  background: #f1b138;
  background: -webkit-linear-gradient(to right, #99f135, #eb9045);
  background: linear-gradient(to right, #99f135, #eb9045);
}
*/

h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

#gallery img {
  border: 2px solid firebrick;
  box-sizing: border-box;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 180px;
}

#portrait {
  border: none;
  box-shadow: none;
  width: 200px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px;
}

a {
  margin: 5px;
}

#title {
  display: flex;
  justify-content: center;
}

div.lg-item,
div.lg-loaded,
div.lg-current,
div.lg-complete {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

p {
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  font-family: "Ubuntu", sans-serif;
  height: 100px;
  background: #5b5b5b;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  padding: 1em;
  display: block;
  font-size: 22px;
  color: #d4d4d4;
  text-decoration: none;
}

nav .links a:hover {
  font-size: 30px;
  color: white;
  transition: 0.2s;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    flex-direction: column;
    justify-content: evenly;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 25px;
  }
  nav .burger {
    display: block;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
}
